body{
  background-color: rgb(93, 93, 100);
  overflow-x: hidden;
  
}
.juan{
background-color: rgb(93, 93, 100);

overflow-y: hidden;

}

html, body {
height: 100%; 
margin: 0;    
padding: 0;
}

/*Header*/
.colornuevo {
  background-color: rgb(3, 3, 3);
  }

  .botoncabecera {
    border: solid white 3px;
  }
  
  .he {
    padding: 3px;
    margin: 3px;
  }
  
  .he:hover {
    background-color: white;
    color: black;
  }
  
  .he2 {
    border: solid white 1px;
  }
  
  .bhn {
    border: solid black 2px;
  }

.ff{
    display: flex;
    justify-content: center;
}

.styleButtonHead{
  color: rgb(232, 235, 233);
  background-color: rgb(48, 89, 79);
  all: unset; 
  display: inline-block; 
  cursor: pointer; 

}

.cabecera {
  justify-content: center; 
  background-color: transparent;
  font-size: large;
  color: rgb(232, 235, 233);
  display: flex; 
  text-align: center; 
}


/* footer */
.footerText {
  text-decoration: none;
  background-color: rgb(3, 3, 3);
  color: rgb(232, 235, 233);
  text-align: center;
  transition: all 0.5s;
}

.footerText:hover {
  transform: scale(1.1);
  color:rgb(232, 235, 233);
}

footer {

  background-color: rgb(3, 3, 3);
  color: rgb(232, 235, 233);
  text-align: center;
  margin-top: auto;
}

.links {
  font-size: 30px;
  justify-content: center;
}

.pp {
  font-size: 20px;
}

.ppo {
  font-size: 10px;
}

.wrapper {
  min-height: 100%; 
  display: flex;
  flex-direction: column; 
}


/* inscripcion */

.btnDesign{
border-radius: 8px;
font-weight: bold
}

.btnDesign2{
  border-radius: 8px;
  font-weight: bold;
  color: rgb(0, 0, 0);
background-color: rgb(96, 187, 223);
  }

.fontDesing {
color: rgb(0, 0, 0);
font-weight: bold
}

.textIndex{
  background-color: rgb(184, 184, 184);
  border: solid black 2px;
  font-size: x-large;
}
.ppt{
  padding-top: 25px;
}

.fuentL{
  font-size: large;
}